.header {
	position: fixed;
	width: 100vw;
	height: 4rem;
}
.nav-item {
	display: inline-block;
	list-style: none;
	width: fit-content;
	margin-right: 1rem;

	border-radius: 0.5em;

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		background: var(--aughip-gradient);
		color: white;
	}
	& a {
		padding: 0.5rem;
		text-decoration: none;
		color: currentColor;
		line-height: 2rem;
	}
}
.items {
	display: flex;
	flex-direction: row;
	margin-left: 1rem;
	position: absolute;
	width: fit-content;
	padding-right: 1rem;
	right: 0;
}